<include href="views/header.html"/>

<div class="container mx-auto">

<div class="container-fluid my-4 mx-auto" style="overflow: scroll" id="main">

            <h3 class="lead font-weight-bold mt-2">Schedule</h3>

            <table class="table" id="tblOrders">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">fall</th>
                        <th scope="col">fnotes</th>
                        <th scope="col">winter</th>
                        <th scope="col">wnotes</th>
                        <th scope="col">spring</th>
                        <th scope="col">snotes</th>
                        <th scope="col">summer</th>
                        <th scope="col">sumNotes</th>
                        <th scope="col">date</th>
                        <th scope="col">advisor</th>

                    </tr>
                </thead>

                <tbody class="tableRead">

                <repeat group="{{ @schedules }}" value="{{ @schedule }}">
                    <tr >
                        <td>{{ @schedule['token'] }}</td>
                        <td>{{ @schedule['fall'] }}</td>
                        <td>{{ @schedule['fallText'] }}</td>
                        <td>{{ @schedule['winter'] }}</td>
                        <td>{{ @schedule['winterText'] }}</td>
                        <td>{{ @schedule['spring'] }}</td>
                        <td>{{ @schedule['springText'] }}</td>
                        <td>{{ @schedule['summer'] }}</td>
                        <td>{{ @schedule['summerText'] }}</td>
                        <td>{{ @schedule['date'] }}</td>
                        <td>{{ @schedule['advisor'] }}</td>

                    </tr>

                </repeat>
                </tbody>
            </table>


</div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

</body>
</html>