<!--Nathan Arrowsmith
1/20/2022
SDEV 328
This File is the main view page for a Dating Website-->

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Feline Frisky</title>
</head>

<body>
<!-- nav -->
<nav class="navbar navbar-light bg-light navbar-expand-sm min-vh-100">
    <div class="container pl-1 text-left">

        <!-- if you put button above this <a> tag like where im typing this comment, the hamburger will appear on the left -->
        <a href="/328/dating" class="navbar-brand">Feline Frisky</a>

            <div class="navbar-nav">
                <!--Links to be used in the future-->
                <a class="nav-item nav-link font-weight-bold" href="admin" id="admin">Admin</a>
            </div><!-- navbar -->

    </div>
</nav>