<include href="views/header.html"></include>

<div class="container mt-4 mb-5" id="main">


    <div class="row my-4" >

        <div class="col-sm-6 text-center ">

            <h1>Feline Frisky</h1>
            <p>Welcome to the web's most successful dating website. At <b>Feline Frisky</b> you'll
            meet like-minded cats, just like you. We have the highest success rate of cat couples on
             the web. Users are matched by an intuitive cat personality algorithm. Find out why so many cat's
            can't stop meowing about Feline Frisky</p>
            <h5 class="font-weight-bold"> Hear what our users are saying about us </h5>
            <div class="m-2 container" id="quotes">
                <hr/>
                <p class="mb-0 text-left font-italic">"meow meooowwwwwww purrrrr" -Mittens</p>
                <p class="mb-0 text-left font-italic">"purr mmmmmmmeooowwww purrrrr" -Pistachio</p>
                <p class="mb-0 text-left font-italic">*slow blink* -Sampson</p>
                <hr/>
            </div>
            <br>

            <a class="btn btn-info mb-3" href="personal" >Create a Profile!</a>
        </div>

        <div class="col-sm-6 text-center my-auto" >

            <img src="images/catpals.jpeg" class="img-fluid" alt="Picture of two loving kittens">

        </div>

    </div>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>