<include href="views/header.html"></include>

<div class="container mt-4 mb-5" id="main">


    <div class="row my-4" >

        <div class="col-sm-6 text-center ">

            <h1>Advise-It</h1>
            <h2>HOME</h2>
            <br>

            <a class="btn btn-info mb-3" href="schedule" >Create New</a>
        </div>

        <div class="col-sm-6 text-center my-auto" >

            <img src="images/catpals.jpeg" class="img-fluid" alt="Picture of two loving kittens">

        </div>

    </div>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>