<include href="views/header.html"></include>

<div class="container mt-4 mb-5" id="main">

    <form action="#" method="post" class="row">

        <div class="col-sm-12 text-left ">
            <h1>Profile</h1>
            <hr/>

        </div>

        <div class="col-sm-6 text-left ">

            <label class="font-weight-bold form-label" for="email">Email</label>
            <!-- Display an error if there is one -->
            <check if="{{ isset(@errors['email']) }}">
                <span class="err font-weight-bold">{{ @errors['email'] }}</span><br>
            </check>
            <input class="form-control" type="text" name="email" id="email" value="{{ @email }}"
                   aria-describedby="email">



            <p class="font-weight-bold"> State </p>
            <select class="form-control mb-2" id="state" name="state">

                <repeat group="{{ @states }}" value="{{ @state }}">
                    <option value="{{ @state }}"> {{ ucfirst(@state) }}</option>
                </repeat>
            </select>

            <!-- get seekCoat -->
            <div class="form-group">
                <label class="col-sm-4 control-label text-left font-weight-bold ml-0 pl-0">Seeking</label>
                <div class="col-sm-8">
                    <repeat group="{{ @coats }}" value="{{ @coat }}">
                        <label><input class="ml-3" type="radio" name="seekCoat" value="{{ @coat }}"
                            <check if="{{ @coat == @userCoat }}">checked</check>>
                            {{ ucfirst(@coat) }}
                        </label>
                    </repeat>
                </div>

                <!-- Display an error if there is one -->
                <check if="{{ isset(@errors['coat']) }}">
                    <span class="err font-weight-bold">{{ @errors['coat'] }}</span>
                </check>
            </div>


        </div>

        <div class="col-sm-6 text-left ">
            <p class="font-weight-bold mb-1"> Biography </p>
            <textarea class="form-control mb-2 pt-1" id="biography" name="biography" rows="6">{{ @biography }}</textarea>
        </div>



        <div class="col-sm-10">
            <a></a>
        </div>



        <!-- button-->
        <div class="col-sm-2 text-right mt-2">
            <input class="form-control btn btn-info mb-3"
                   type="submit" value="Next >">
        </div>


    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>