nav{
    background-color: darkgray;
}

body{

    padding-bottom: 15px;

}

#main{

    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
}

.tokenStyle{
    font-size: 1.5em;
    color: #003bd2;
    background-color: #b6b3b3;
}

.tokenInput, .retrieveSchedule{
    display: none;
}

.fallBox, .winterBox, .springBox, .summerBox{

    border-style: solid;
    border-width: 2px;
    margin: 5px;
}

.fallBox{
    border-color: #e8642d;
}

.winterBox{
    border-color: #003bc2;
}

.springBox{
    border-color: #278000;
}

.summerBox{
    border-color: #cea700;
}

#box{

    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
}

#notify{

    background-color: lightgray;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: dimgray;

}

#quotes{

    /*border-style: solid;
    border-width: 1.25px;
    border-color: darkgray;*/
}

img{
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
}

#frame{
    text-align: center;
    vertical-align: middle;
}

.err{
    color: red;
}